// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#submenu{
	width:100%;
	display: block;
	color:grey
}

#submenu ul{
	padding :0;
}

#submenu ul li{
	list-style:none;
	font-size:15px;
	font-weight:bold;
}

.widget-cat{
	border-bottom: thin solid lightgrey;
	margin-bottom: 30px;
}