// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prodlist{
	 background-color:white;
	 padding: 10px;
	 box-shadow: 0 0 12px grey;
	 margin-top: 25px;
}

.btn-primary a, .btn-danger a, .btn-success a{
	color: white !important;
}

.btn-primary, .btn-danger, .btn-success {
	color: white !important;
}

.title_prod{
	color: olive;
	font-weight:bolder;
	font-size:250%;
}

.meta{
	color:maroon;
}

.rating{
	background-color:olive; 
	color:maroon; 
	text-align:center; 
	font-weight:bolder; 
	padding:10px; 
	border-radius: 5px; 
	font-size:20px; 
	max-height:40px; 
	display:table-cell;
}

.price{
	background-color:maroon; 
	color:white; 
	text-align:center; 
	font-weight:bolder; 
	padding:10px; 
	border-radius: 5px; 
	font-size:20px; 
	max-height:40px; 
	display:table-cell;
}

.table_price_rating{
	display:table;
	border-collapse:separate;
	border-spacing:15px 0;
	margin-top: 12px;
	margin-bottom: 12px;	
}