 <ul >
  <% categories.each do |sub_cat| %>
    <li ><%= link_to_unless_current sub_cat.name_for_selects, sub_cat%>
        <%= render './categories/submenu_cats', categories: sub_cat.children if sub_cat.children.present?%>
    </li>
  <% end %>
</ul>

